<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.7" targetFramework="net45" />
  <package id="ApprovalUtilities" version="3.0.7" targetFramework="net45" />
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="AutofacContrib.NSubstitute" version="3.3.2" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="NSubstitute" version="1.7.2.0" targetFramework="net45" />
  <package id="Octopus.Client" version="2.5.8.447" targetFramework="net45" />
  <package id="Shouldly" version="2.1.1" targetFramework="net45" />
  <package id="Sprache" version="1.10.0.37" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net45" />
</packages>